{% extends 'base.html' %}

{% load static %}

{% block title %}{{noticia.titulo}}{% endblock %}

{% block content %}
    <br>
    <section class="page-section cta">
      <div class="container">
        <div class="card">
            {% if noticia.imagen %}
                <img class="card-img-top" style="width: 50%; display:block; margin:auto;" src="{{noticia.imagen.url}}" alt="Card image cap">
            {% endif %}
            <div class="card-body">
                <h5 class="card-title text-center">{{noticia.titulo}}</h5>
                <p class="card-text">{{noticia.contenido}}</p>
                <br>
                {% if request.user.is_superuser %}
                <div>
                    <a href="{% url 'noticias:editarnoticia' noticia.id %}" style="margin: 0 auto;" class="btn btn-success">Editar</a>
                    <a href="{% url 'noticias:borrarnoticia' noticia.id %}" class="btn btn-danger float-right">Borrar</a>
                </div>
                {% endif %}
            </div>
        </div>
      </div>
    </section>
{% endblock %}